{
  "swagger" : "2.0",
  "info" : {
    "description" : "API layer for ExtremeTix applications",
    "version" : "1.0.0",
    "title" : "ExtremeTix API"
  },
  "host" : "api.extremetix.com",
  "basePath" : "/",
  "tags" : [ {
    "name" : "CRM"
  }, {
    "name" : "TicketOperations"
  }, {
    "name" : "SalesDetail"
  }, {
    "name" : "Events"
  }, {
    "name" : "Dashboard"
  }, {
    "name" : "OAuth"
  }, {
    "name" : "Users"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/oauth/token" : {
      "post" : {
        "tags" : [ "OAuth" ],
        "summary" : "Authenticates a user and provides a new access token",
        "description" : "The access token provided upon successful login will be provided in all API calls. The access token should be short lived - perhaps an hour. The refresh token will be used to request a new access token after an hour without asking the user to provide credentials again. The refresh token will be securely stored on the device and will have a much longer expiration time - perhaps days.",
        "operationId" : "manageOAuthToken",
        "parameters" : [ {
          "name" : "grant_type",
          "in" : "query",
          "description" : "type of grant you wish to access (password or refresh_token). The mobile app should use grant_type=password to receive the initial access and refresh token, and grant_type=refresh_token to receive a new access_token",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "client_id",
          "in" : "query",
          "description" : "id of the client trying to access the resource",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "username",
          "in" : "query",
          "description" : "username for the user being authenticated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "password",
          "in" : "query",
          "description" : "password for the user being authenticated",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "refresh_token",
          "in" : "query",
          "description" : "token provided by authentication to renew access token upon expiration",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Defines the media type expected for the response object",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/OAuth2AccessToken"
            }
          },
          "400" : {
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "403" : {
            "description" : "Forbidden"
          },
          "404" : {
            "description" : "Not Found"
          }
        }
      }
    },
    "/services/members" : {
      "get" : {
        "tags" : [ "CRM" ],
        "summary" : "Returns site members for sites a user has access to",
        "description" : "",
        "operationId" : "getMembers",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "tag",
          "in" : "query",
          "description" : "A tag associated with a section, venue, event, or site",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "maximum page size",
          "required" : false,
          "type" : "integer",
          "default" : 20,
          "format" : "int32"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Which page to return",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Defines the media type expected for the response object",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Defines the authorization used to access the resource",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Member data",
            "schema" : {
              "$ref" : "#/definitions/MembersResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "500" : {
            "description" : "Internal Server Error"
          },
          "404" : {
            "description" : "Invalid access"
          }
        }
      }
    },
    "/services/members/{memberid}" : {
      "get" : {
        "tags" : [ "CRM" ],
        "summary" : "Returns the details member data",
        "description" : "",
        "operationId" : "getMember",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "memberid",
          "in" : "path",
          "description" : "The id of the member",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Defines the media type expected for the response object",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Defines the authorization used to access the resource",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Member data",
            "schema" : {
              "$ref" : "#/definitions/MembersResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "500" : {
            "description" : "Internal Server Error"
          },
          "404" : {
            "description" : "Invalid access"
          }
        }
      },
      "put" : {
        "tags" : [ "CRM" ],
        "summary" : "Update the updateable details of a Site Member",
        "description" : "",
        "operationId" : "putMember",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "memberid",
          "in" : "path",
          "description" : "The id of the member",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The Member object data",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/Member"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Defines the media type expected for the response object",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Defines the authorization used to access the resource",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Member data",
            "schema" : {
              "$ref" : "#/definitions/MembersResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "500" : {
            "description" : "Internal Server Error"
          },
          "404" : {
            "description" : "Invalid access"
          }
        }
      }
    },
    "/services/transactionlogs" : {
      "get" : {
        "tags" : [ "CRM" ],
        "summary" : "Returns transaction logs occuring since mindate",
        "description" : "returns full list of transactions since min date",
        "operationId" : "getTransactionLogs",
        "produces" : [ "application/json", "application/xml" ],
        "parameters" : [ {
          "name" : "mindate",
          "in" : "query",
          "description" : "The minimum date in ISO 8601 format",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "tag",
          "in" : "query",
          "description" : "A tag associated with a section, venue, event, or site",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "maximum page size",
          "required" : false,
          "type" : "integer",
          "default" : 20,
          "format" : "int32"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Which page to return",
          "required" : false,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Defines the media type expected for the response object",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Defines the authorization used to access the resource",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Transaction data for the requested filter",
            "schema" : {
              "$ref" : "#/definitions/TransactionLogResponse"
            }
          },
          "401" : {
            "description" : "Unauthorized"
          },
          "500" : {
            "description" : "Internal Server Error"
          },
          "404" : {
            "description" : "Invalid min date"
          }
        }
      }
    }
  },
  "definitions" : {
    "Account" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int32"
        },
        "clientid" : {
          "type" : "integer",
          "format" : "int32"
        },
        "emailaddress" : {
          "type" : "string"
        },
        "password" : {
          "type" : "string"
        },
        "address1" : {
          "type" : "string"
        },
        "address2" : {
          "type" : "string"
        },
        "city" : {
          "type" : "string"
        },
        "state" : {
          "type" : "string"
        },
        "zip" : {
          "type" : "string"
        },
        "phone" : {
          "type" : "string"
        },
        "mobilephone" : {
          "type" : "string"
        },
        "firstname" : {
          "type" : "string"
        },
        "lastname" : {
          "type" : "string"
        },
        "emailoptin" : {
          "type" : "string"
        },
        "organizationname" : {
          "type" : "string"
        },
        "referencenumber" : {
          "type" : "string"
        },
        "notes" : {
          "type" : "string"
        },
        "executiveid" : {
          "type" : "integer",
          "format" : "int32"
        },
        "dateofbirth" : {
          "type" : "string"
        },
        "paymentinfoid" : {
          "type" : "string"
        },
        "username" : {
          "type" : "string"
        },
        "validatecode" : {
          "type" : "string"
        }
      },
      "xml" : {
        "name" : "customeraddress"
      }
    },
    "Seat" : {
      "type" : "object",
      "properties" : {
        "seatID" : {
          "type" : "integer",
          "format" : "int32"
        },
        "seatid" : {
          "type" : "integer",
          "format" : "int32"
        },
        "sectionid" : {
          "type" : "integer",
          "format" : "int32"
        },
        "seatrow" : {
          "type" : "string"
        },
        "seatnum" : {
          "type" : "string"
        },
        "seattype" : {
          "type" : "integer",
          "format" : "int32"
        },
        "tiergroup" : {
          "type" : "string"
        },
        "seatindex" : {
          "type" : "integer",
          "format" : "int32"
        }
      },
      "xml" : {
        "name" : "member"
      }
    },
    "Discount" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int32"
        },
        "eventid" : {
          "type" : "integer",
          "format" : "int32"
        },
        "description" : {
          "type" : "string"
        },
        "amount" : {
          "type" : "number",
          "format" : "float"
        },
        "percentage" : {
          "type" : "number",
          "format" : "float"
        },
        "start" : {
          "type" : "string"
        },
        "end" : {
          "type" : "string"
        }
      },
      "xml" : {
        "name" : "customeraddress"
      }
    },
    "MembersResponse" : {
      "type" : "object",
      "properties" : {
        "members" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Member"
          }
        }
      }
    },
    "SectionShort" : {
      "type" : "object",
      "properties" : {
        "sectionid" : {
          "type" : "integer",
          "format" : "int32"
        },
        "eventid" : {
          "type" : "integer",
          "format" : "int32"
        },
        "venueid" : {
          "type" : "integer",
          "format" : "int32"
        },
        "name" : {
          "type" : "string"
        },
        "sectiontype" : {
          "type" : "integer",
          "format" : "int32"
        }
      },
      "xml" : {
        "name" : "member"
      }
    },
    "OAuth2AccessToken" : {
      "type" : "object",
      "properties" : {
        "scope" : {
          "type" : "string"
        },
        "access_token" : {
          "type" : "string"
        },
        "token_type" : {
          "type" : "string"
        },
        "expires_in" : {
          "type" : "integer",
          "format" : "int32"
        },
        "refresh_token" : {
          "type" : "string"
        }
      }
    },
    "Member" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int32"
        },
        "siteid" : {
          "type" : "integer",
          "format" : "int32"
        },
        "memberid" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "expirationdate" : {
          "type" : "string"
        },
        "memberlevel" : {
          "type" : "string"
        },
        "active" : {
          "type" : "string"
        },
        "notes" : {
          "type" : "string"
        },
        "password" : {
          "type" : "string"
        },
        "transactions" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/MemberTransactionLog"
          }
        }
      },
      "xml" : {
        "name" : "member"
      }
    },
    "PaymentInfo" : {
      "type" : "object",
      "properties" : {
        "paymentinfoid" : {
          "type" : "integer",
          "format" : "int32"
        },
        "cardexpyear" : {
          "type" : "string"
        },
        "cardexpmonth" : {
          "type" : "string"
        },
        "cardtype" : {
          "type" : "integer",
          "format" : "int32"
        },
        "chargeamount" : {
          "type" : "number",
          "format" : "float"
        },
        "transresults" : {
          "type" : "integer",
          "format" : "int32"
        },
        "transdate" : {
          "type" : "string"
        },
        "authcode" : {
          "type" : "string"
        },
        "transid" : {
          "type" : "string"
        },
        "transamount" : {
          "type" : "number",
          "format" : "float"
        },
        "paymentdate" : {
          "type" : "string"
        },
        "lastccdigits" : {
          "type" : "string"
        },
        "subscriptionid" : {
          "type" : "integer",
          "format" : "int32"
        },
        "paymentplanid" : {
          "type" : "integer",
          "format" : "int32"
        },
        "checknumber" : {
          "type" : "string"
        }
      },
      "xml" : {
        "name" : "paymentinfo"
      }
    },
    "Ticket" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int32"
        },
        "eventid" : {
          "type" : "integer",
          "format" : "int32"
        },
        "ticketpackageid" : {
          "type" : "integer",
          "format" : "int32"
        },
        "paymentinfoid" : {
          "type" : "integer",
          "format" : "int32"
        },
        "ticketholdername" : {
          "type" : "string"
        },
        "ticketcost" : {
          "type" : "integer",
          "format" : "int32"
        },
        "ticketpin" : {
          "type" : "string"
        },
        "timepurchased" : {
          "type" : "string"
        },
        "seat" : {
          "$ref" : "#/definitions/Seat"
        },
        "section" : {
          "$ref" : "#/definitions/SectionShort"
        }
      }
    },
    "TransactionLog" : {
      "type" : "object",
      "properties" : {
        "reason" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "transtype" : {
          "type" : "string"
        },
        "customeraddress" : {
          "$ref" : "#/definitions/CustomerAddress"
        },
        "member" : {
          "$ref" : "#/definitions/Member"
        },
        "discountanount" : {
          "type" : "number",
          "format" : "float"
        },
        "promotionamount" : {
          "type" : "number",
          "format" : "float"
        },
        "otheramount" : {
          "type" : "number",
          "format" : "float"
        },
        "otherfee" : {
          "type" : "number",
          "format" : "float"
        },
        "siteid" : {
          "type" : "integer",
          "format" : "int32"
        },
        "tickets" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Ticket"
          }
        },
        "paymentinfo" : {
          "$ref" : "#/definitions/PaymentInfo"
        },
        "origpaymentinfo" : {
          "$ref" : "#/definitions/PaymentInfo"
        },
        "account" : {
          "$ref" : "#/definitions/Account"
        },
        "discount" : {
          "$ref" : "#/definitions/Discount"
        },
        "promotion" : {
          "$ref" : "#/definitions/Discount"
        }
      }
    },
    "MemberTransactionLog" : {
      "type" : "object",
      "properties" : {
        "reason" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "transtype" : {
          "type" : "string"
        },
        "customeraddress" : {
          "$ref" : "#/definitions/CustomerAddress"
        },
        "discountanount" : {
          "type" : "number",
          "format" : "float"
        },
        "promotionamount" : {
          "type" : "number",
          "format" : "float"
        },
        "otheramount" : {
          "type" : "number",
          "format" : "float"
        },
        "otherfee" : {
          "type" : "number",
          "format" : "float"
        },
        "siteid" : {
          "type" : "integer",
          "format" : "int32"
        },
        "tickets" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Ticket"
          }
        },
        "paymentinfo" : {
          "$ref" : "#/definitions/PaymentInfo"
        },
        "origpaymentinfo" : {
          "$ref" : "#/definitions/PaymentInfo"
        },
        "account" : {
          "$ref" : "#/definitions/Account"
        },
        "discount" : {
          "$ref" : "#/definitions/Discount"
        },
        "promotion" : {
          "$ref" : "#/definitions/Discount"
        }
      }
    },
    "TransactionLogResponse" : {
      "type" : "object",
      "properties" : {
        "transactionLogs" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/TransactionLog"
          }
        }
      }
    },
    "CustomerAddress" : {
      "type" : "object",
      "properties" : {
        "paymentinfoid" : {
          "type" : "integer",
          "format" : "int32"
        },
        "lastname" : {
          "type" : "string"
        },
        "firstname" : {
          "type" : "string"
        },
        "address1" : {
          "type" : "string"
        },
        "address2" : {
          "type" : "string"
        },
        "city" : {
          "type" : "string"
        },
        "state" : {
          "type" : "integer",
          "format" : "int32"
        },
        "zip" : {
          "type" : "string"
        },
        "emailaddress" : {
          "type" : "string"
        },
        "dayphone" : {
          "type" : "string"
        },
        "eveningphone" : {
          "type" : "string"
        },
        "emailoptin" : {
          "type" : "string"
        },
        "mailingaddress1" : {
          "type" : "string"
        },
        "mailingaddress2" : {
          "type" : "string"
        },
        "mailingcity" : {
          "type" : "string"
        },
        "mailingstate" : {
          "type" : "integer",
          "format" : "int32"
        },
        "mailingzip" : {
          "type" : "string"
        }
      },
      "xml" : {
        "name" : "customeraddress"
      }
    }
  }
}